body, html {
  height: 100%;
  margin: 0;
}

.container {
  text-align: center;
  height: 100%;
  padding: 5px;
  box-sizing: border-box;
}

.container div {
  /* padding: 15px; */
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  border-radius: 15px;
}

.header {
  background-color: #FFDE22;
}

.sidebar {
  background-color: #FF7755;
}

.nav {
  background-color: #00DDFF;
}

.article {
  background-color: #bccbde;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.footer {
  background-color: #393f4d;
}

/* Adding features to the page */

.header,
.sidebar,
.footer{
  padding: 15px;
  margin: 5px;
}

.sidebar{
  margin: 10px 5px;
}

.container{
  display: flex;
  flex-direction: column;

  min-width: 350px;
  flex: 1 1 0;
  
}

.header{
  justify-content: flex-start;
}

.centre{
  display: flex;
  flex-direction: row;
  flex: 1;

}

.content-container{
  display: flex;
  flex-direction: column;

  gap: 10px;
  padding: 10px;
}

.nav, .article{
  padding: 15px;
}

.article{
  flex: 1;
}

.footer{
  justify-content: flex-end;
}